// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

img {
    object-fit: cover; 
    aspect-ratio: 1/1;
    padding: 2rem; 
    border-radius: 4rem !important;
}

